<!DOCTYPE html>
<html>
<title>Image Classifier</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/w3.css">
<link href="http://127.0.0.1:5000/static/css/hooli.css" rel="stylesheet">
<section class="app__hero">
    <video class="app__hero__video" src="http://127.0.0.1:5000/static/videos/hooli-intro-lg.mp4" loop="" autoplay="" muted=""></video>
    <div>
    <div class="row align-middle">
      <div>
        <div class="columns medium-12"><img src="http://127.0.0.1:5000/static/img/logo-hooli-top.svg" alt="Logo" width="200">
            <h1 class="app__hero__title">Making the world a better place with one image classifier at time. </h1></div>
              
                <div class="w3-button-div">
                    <a href="#" class="w3-button w3-block w3-hover-blue-grey"><font color="white">Home</font></a>
                    <a href="http://127.0.0.1:5000/image" class="w3-button w3-block w3-hover-blue-grey"><font color="white">Classifier</font></a>
                    <a href="http://127.0.0.1:5000/predictor" class="w3-button w3-block w3-hover-blue-grey "><font color="white">Predictor</font></a>
                    <a href="http://127.0.0.1:5000/trainer" class="w3-button w3-block w3-hover-blue-grey"><font color="white">Trainer</font></a>
                    </div>
              </div>
              </div>
            </div>
          </section>

<!-- Footer -->
<footer class="w3-container w3-black w3-center">
  <p>Made with ❤ by <a href="https://www.github.com/repollo" target="_blank">@repollo</a> from <a href="https://www.nori-labs.com" target="_blank">norilabs</a></p>
</footer>

</body>
</html>